/*Caution: Please don't change the settings in this style sheet by yourselves. Let's do that in group.*/

/*Body font family, weight, size, color and line-leight*/
html, body 
{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: #666666;
    line-height: 2em;
    background-color: #FFFFFF;
}
 /*Headline 1,2,3 Color*/
h1,h2,h3
{
    color: #333333;
}

/*Headline 1 font size and line-height*/
h1
{
    font-size: 3.750em;
    line-height: 3.750em;
}

/*Headline 2 font size and line-height*/
h2
{
    font-size: 3.000em;
    line-height: 3.375em;
}

/*Headline 3 font size and line-height*/
h3
{
    font-size: 2.125em;
    line-height: 2.750em;
}

/*Headline 4 font size and line-height*/
h4
{
    font-size: 1.500em;
    line-height: 2.000em;
}

/*Headline 5 font size and line-height*/
h5
{
    font-size: 1.250em;
    line-height: 1.500em;
}

/*Consultations font size*/
.consultations-text
{
    font-size: 0.875em;
}

/*Regular Button*/
.button-regular
{
    background: #FFFFFF;
    border: 2px solid #333333;
}

/*Link Color*/
a
{
    color: #333333;
} 

/*Link Hover Color*/
a:hover
{
    color:#BABABA
}

/*Background Color 2*/
.darkgrey
{
    background: #000000;
    color: white;
}

/*Large Button*/
.button-large
{
    padding: 1em 5em;
}

/*Small Button*/
.button-small
{
    padding: 0.875em 2.000em;
}

/*Classes for Top Promotion Bar----------------------------------------------------------------*/
.top-drop-down {
    background: #000000;
    border: 2px solid #FFFFFF;
    width: 9em;
    margin: 0.3em;
}

.a-top-bar {
    color: #FFFFFF;
    text-decoration: underline;
}

/*Stylesheet for Nav---------------------------------------------------------------------------*/
.nav-bar {
    padding: 0;
    height: 8.5em;
}

.moma-logo-holder {
    padding:1em;
    margin-top:1.25em;
}

.nav-icon {
    display: flex;
    justify-content: flex-end;
    height: auto;
    margin-left: 0.625em;
    margin-top:0.8em;
}
.dropdown.menu a {
    padding: 0.5rem 0.5rem;
}

.top-bar, .top-bar ul
{
    background-color:#FFFFFF;
}

.dropdown
{
    background-color:#FFFFFF;
    Border: 0px;
}

.menu
{
    background-color:#FFFFFF;
    Border: 0px;
}

.menu-text
{
    padding-left:0;
}

.accordion-menu
{
    background-color:#FFFFFF;
}

.a-nav
{
    font-size: 1.250em;
}

.a-nav-sub
{
    font-size: 0.875em;
    color: #666666;
}

.moma-logo 
{
    fill: #333333;
    width: 100%;
}

.moma-logo-medium {
    position: absolute;
    width: 10%;
    margin: 1em auto;
    display: block;
}

.moma-logo-small
{
    fill: #333333;
    width: 100%;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 80px; 
}

.menu a
{
    line-height: 1.25em;
}

.menu-icon::after 
{
    background: #333333;
    box-shadow: 0 7px 0 #333333, 0 14px 0 #333333;
}

.title-bar-title
{
    color: #333333;
}

.title-bar
{
    padding-top:0.5rem;
    padding-right:0.5rem;
    padding-left:0rem;
    padding-bottom:0.5rem;
    background-color: #FFFFFF;
}

.title-bar .menu-icon {
    margin-left: 0rem;
    margin-right: 0.25rem;
}

.moma-logo-medium
    {
    display: block;
    margin-left: auto;
    margin-right: auto 
    }

/*Classes for Membership Page---------------------------------------------------*/

.hero-image {
    background-image: url("../images/membership_page/01_Membership.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding-left: 12.500em;
    padding-right: 12.500em;
    padding-top: 4em;
    padding-bottom: 4em;
  }

/*Benefit Backgournd image*/
.benefit-image-admission {
    background-image: url("../images/membership_page/02_Admission.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 10.000em; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin: 0.625em;
  }

.membership-logo {
    height: 5.938em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 40%;
}

.m-h1
{
    font-weight: 500;
    color: #FFFFFF;
    line-height: 1.250em;
}

.m-h2
{
    font-weight: 500; /*New Added*/
    line-height: 1.875em; /*New Edited*/
    margin-top: 0.3125em; /*New Added*/
}

.m-h3
{
    line-height: 2.750em; /*New Edited*/
    padding-top: 1em; /*New Added*/
}

.m-a
{
    text-decoration: underline; /*New Added*/ 
    text-transform: uppercase; /*New Added*/ 
} 

.benefit{
    padding: 0.625em;
}

p {
    margin-top: 0.3125em; /*New Added*/
}

.side-image {
    padding: 1em;
}

.side-body {
    padding: 1em;
}

.m-button-large
{
    padding: 0.5em; /*New Edited*/
    font-weight: 500; /*New Added*/ 
    border: 2px solid #333333; /*New Added*/ 
    margin: 0.625em; /*New Added*/
    text-transform: uppercase; /*New Added*/ 
}

.m-button-large-black
{
    padding: 0.5em; /*New Edited*/
    font-weight: 500; /*New Added*/ 
    border: 2px solid #333333; /*New Added*/ 
    margin: 0.625em; /*New Added*/
    text-transform: uppercase; /*New Added*/ 
    background-color: #333333;
    color: #FFFFFF;
}

.m-button-large-nbg {
    padding: 0.5em; /*New Edited*/
    font-weight: 500; /*New Added*/ 
    border: 2px solid #FFFFFF; /*New Added*/ 
    margin: 0.625em; /*New Added*/
    text-transform: uppercase; /*New Added*/ 
    color: #FFFFFF;
    width: 12.500em;
    margin-left: auto;
    margin-right: auto;
}

/*Media Queries----------------------------------------------------------------------------------------------*/

/* Small only - Max width 767px*/
@media screen and (max-width: 47.938em) {
    .m-h2 {
        font-size: 2.5em; /*New Added*/
        line-height: 1.2em; /*New Added*/
    }

    .m-h1{
        font-size: 2.5em;
        line-height: 1.125em;
    }

    .hero-image {
        height: 100%;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .membership-logo {
        height: 3.125em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }

}

/*Footer-------------------------------------------------*/
/* HTML Set up */
footer {
    background: #333333;
    color: #fff;
}

footer .centered {
    max-width: 1440px;
    margin: 0 auto;
}

footer .centered .footer-logo {
    width: auto;
    display: block;
}

footer .centered .social{
    margin-top: 3em;
}


footer .centered .subscribe {
    position: relative;
    left: 0; right: 0; bottom: 0; top: 0;
    margin: 0 auto;
    width: 500px;
    height: 44px;
    background: #fff;
}

.placeholder {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 1em;
    color: #333333;
    pointer-events: none;
    transition: opacity 0.25s ease, transform 0.35s ease;
}

input[type="text"] {
    float: left;
    box-sizing: inherit;
    height: 44px;
    width: 400px;
    border: 0;
    outline: none;
    font-size: 1em;
    padding-left: 10px;
    padding-right: 10px;
    color: grey;
}

.submit{
    float: right;
    width: 100px;
    height: 44px;
    background: #1f1f1f;
    color: #fff;
    outline: none;
    font-size: 1em;
    font-weight: bold;
}

.submit:hover {
     background-color: #000000;
 }


footer .centered .footer-logo h4 {
    text-align:center;
    padding-top: 16px;
}


.footer-navigation {
    padding: 4em 5em 0 5em;
    margin: 0 auto;
    background-color: #333333;
    }

footer .centered .footer-links-holder {
    width: 20%;
    margin-right: auto;
    font-size: 1em;
    min-width: 190px;
    text-align: center;

}

.grid-container{
    padding-right: 0;
    padding-left: 0;
    max-width: 90rem;
    margin: 0 auto;
}
footer .centered .footer-links-holder .footer-links {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-transition: max-height .5s;
    transition: max-height .5s;
    color: #999999;
}

footer .centered .footer-links-holder .title{
    font-size: 1.25em;
    font-weight: bold;
}


footer .bottom-bar {
    position: relative;
    text-align: center;
    font-size: 1em;
    padding-top: 5em;
    color: #999999;
}

/* Responsive Tablet Sizes */
@media only screen and (min-width: 48em) {
    footer .centered {
        padding: 0;
    }
    footer .centered .footer-logo {
        width: 100%;
    }

    footer .centered .footer-navigation {
        display: flex;
        width: 100%;
        padding: 2em 2em;
    }

    footer .centered .footer-navigation .footer-links-holder {
        padding: 0 20px;
    }
}
/* Responsive Mobile Sizes */

@media only screen and (max-width: 47.938em) {
    footer .centered .footer-logo {
        width: 100%;
        margin: 0 auto;
    }

    footer .centered .subscribe {
        position: relative;
        left: 0; right: 0; bottom: 0; top: 0;
        margin: 0 auto;
        width: 340px;
        height: 44px;
        background: #fff;
    }

    .placeholder {
        position: absolute;
        top: 8px;
        left: 10px;
        font-size: 1em;
        color: #333333;
        pointer-events: none;
        transition: opacity 0.25s ease, transform 0.35s ease;
    }

    input[type="text"] {
        float: left;
        box-sizing: inherit;
        height: 44px;
        width: 240px;
        border: 0;
        outline: none;
        font-size: 1em;
        padding-left: 10px;
        padding-right: 10px;
        color: grey;
    }

    .submit{
        float: right;
        width: 100px;
        height: 44px;
        background: #1f1f1f;
        color: #fff;
        outline: none;
        font-size: 1em;
        font-weight: bold;
    }

    .submit:hover {
        background-color: #000000;
    }

    footer .centered .footer-navigation {
        padding: 1em 1em;
    }

    footer .centered .footer-navigation .footer-links-holder {
        width: 100%;
        padding: 0;
    }
    footer .centered .footer-navigation .footer-links-holder h3 {
        margin: 0;
        padding: 10px 20px;
        border-top: #979797 1px solid;
        cursor: pointer;
        /* Down Arrows */
    }
    footer .centered .footer-navigation .footer-links-holder h3::after {
        float: right;
        margin-right: 10px;
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-top: 7px;
        width: 7px;
        height: 7px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        -webkit-transition: transform .5s;
        transition: transform .5s;
    }
    footer .centered .footer-navigation .footer-links-holder .footer-links {
        max-height: 0;
        overflow: hidden;
        padding: 0 20px;
    }
    footer .centered .footer-navigation .footer-links-holder.active h3::after {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    footer .centered .footer-navigation .footer-links-holder.active .footer-links {
        max-height: 10000px;
    }
}
/* Social Icons */
.social {
    text-align: center;
}
.social a {
    display: inline-block;
    padding: 7px;
    width: 40px;
    height: 40px;
    margin: 0 8px;
    background: #fff;
    border-radius: 50%;
    vertical-align: middle;
}
.social a:hover {
    background: #65c2ed;
}
.social a.linkedin {
    padding: 4px;
}
.social a svg .face, .social a svg .twit, .social a svg .link {
    fill: #000;
}

/* Typography */
footer h3 {
    font-weight: bold;
    margin-bottom: 0;
    color: #FFFFFF;
}
footer p, footer li {
    letter-spacing: 0.05em;
    margin: 10px 0;
    color: #FFFFFF;
}

footer .footer-links a {
    color: #999999;
    text-decoration: none;
    -webkit-transition: color .5s, background .5s;
    transition: color .5s, background .5s;
}

footer .bottom-bar a {
    color: #999999;
    text-decoration: none;
    -webkit-transition: color .5s, background .5s;
    transition: color .5s, background .5s;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
    -webkit-transition: color .5s, background .5s;
    transition: color .5s, background .5s;
}

footer a:hover {
    color: #666666;
}

/* Misc CSS */
.clearfix:before, .clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
}


/* Medium and up - Minimum width of 768px */
@media screen and (min-width: 48em) {}

/* Medium only - Minimum width of 768px and Maximum width of 1439px */
@media screen and (min-width: 48em) and (max-width: 89.938em) {
    .m-h1{
        font-size: 3em;
        line-height: 1.125em;
    }

    .hero-image {
        height: 100%;
        padding-left: 7em;
        padding-right: 7em;
        padding-top: 4em;
        padding-bottom: 4em;
    }
}

/* Large and up - Minimum width of 1440px */
@media screen and (min-width: 90em) {}

/* Large only - Minimum width of 1440px and Maximum width of 1900px*/
@media screen and (min-width: 90em) and (max-width: 118.750em) {}